*.html

.Rhistory
.Rproj.user
.DS_Store

results/
docs/

/data/*
!/data/processed/
/data/processed/*
#!/data/processed/Animal-based\ proteins\ \(manual\ annotation\).csv
!data/processed/Animal-based\ proteins\ \(full\ annotation\).csv